<div id="er-mainbody" class="ClientAreaContainer wrapper">
  <div class="article-content er-container promotions flex-top">
    <!--<div class="pico-type-filters"><input id="myInput" type="text" placeholder="Search.."></div>-->
    <div id="directoryjs-9514" class="er-directoryjs er-size-100" data-mode="search" data-mode-type="search">
        <div class="eryc-searches er-size-100"></div>
     
        <div class="eryc-results er-size-100"></div>
        <div class="eryc-navigation"></div>
    </div>

  </div>
</div>

<div id="output">
</div>

