<div class="padding-x4">
<div class="wrapper">

  <div class="flex">
    <div class="size-30 flex padding-right">
    <!-- Add this input field where users can type their search query -->
    <input type="text" id="searchInput" placeholder="Search">
  </div>
    <div class="size-30 padding-left padding-right"> 
    <select id="sortDropdown">
      <option value="newest-date">Sort by Date (Latest)</option>
      <option value="date">Sort by Date (Oldest)</option>
      <option value="az">Sort by A-Z</option>
      <option value="za">Sort by Z-A</option>
      <option value="price-asc">Sort by Price (Low)</option>
      <option value="price-desc">Sort by Price (High)</option>
    </select>
  </div>
    <div class="size-30 padding-left">
    <select id="filterDropdown">
      <option value="">Filter by Types</option>
    </select>
  </div>
  </div>
  <div>
    <div class="result-count margin-top"><p>Total Results: <span id="totalResultsCount">0 </span><span class="space"> | Filtered: </span><span id="filteredResultsCount">0 </span></p></div>
  </div>

<div id="output">
</div>
<div class="flex">
<div class="size-30">
<a href="https://www.amazon.co.uk/PICO-ALL-One-Headset-128GB/dp/B0BGLTDNWR?crid=20NA26B6KU5CI&keywords=pico%2B4&qid=1691160138&sprefix=pico%2B4%2Caps%2C71&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1&linkCode=li3&tag=andymorphs-21&linkId=42b51bcd7365ed9faa1b1c2c48c5a0f8&language=en_GB&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0BGLTDNWR&Format=_SL250_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=andymorphs-21&language=en_GB" ></a><img src="https://ir-uk.amazon-adsystem.com/e/ir?t=andymorphs-21&language=en_GB&l=li3&o=2&a=B0BGLTDNWR" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

<a class="btn" target="_blank" href="https://amzn.to/3Ooa5F1"><span class="center size-100">Buy on <i class="fa-brands fa-amazon"></i></span></a>
</div>

<div class="size-30">
<a href="https://www.amazon.co.uk/KKCOBVR-Charging-Compatible-Comfort-10000mAh/dp/B0BX3QD859?crid=30KLGWE4N4G0F&keywords=pico4&qid=1691160892&sprefix=pico4+%2Caps%2C70&sr=8-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1&linkCode=li3&tag=andymorphs-21&linkId=7857130491bfa6901bda0a9c7bd66869&language=en_GB&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0BX3QD859&Format=_SL250_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=andymorphs-21&language=en_GB" ></a><img src="https://ir-uk.amazon-adsystem.com/e/ir?t=andymorphs-21&language=en_GB&l=li3&o=2&a=B0BX3QD859" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

<a class="btn" target="_blank" href="https://amzn.to/3DHOEdh"><span class="center size-100">Buy on <i class="fa-brands fa-amazon"></i></span></a>
</div>
</div>
</div>

